*, body{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/assets/img/background.jpg");
}

/* navigation bar */
nav{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: beige;
    box-shadow: -1px -7px 20px 0px #888;
}
nav ul{
    position: relative;
    top: 20px;
    margin: 0;
    float: right;
    right: 33%;
}
nav ul li{
    float: left;
    display: block;
    margin: 0px 15px 0px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #888;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li a:hover{
    color:#55a8fd
}

/* description section */
section#box-food{
    position: relative;
    width: 50%;
    min-height: 575px;
    margin-right: 30%;
    margin-left: 25%;
    margin-top: 60px;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 7px 0px rgba(130, 130, 130, 0.2);
}
#box-food .img-profile{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 360px;
    border-radius: 300px;
    float: left;
    top: 25px;
    margin-left: 40px;
}
.img-profile .photo{
    height: 200%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.description{
    position: relative;
    width: 400px;
    display: inline-block;
    float: left;
    top: 50px;
    margin-left: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.description p{
    color: black;
    margin-bottom: 14px;
    text-align: justify;
}
.table{
    position: relative;
    width: 400px;
    display: inline-block;
    float: left;
    top: 50px;
    margin-left: 30px;
}